Checks: "-*,\
cert-*,\
clang-analyzer-*,\
clang-diagnostic-*,\
cppcoreguidelines-*,\
llvm-*,\
-llvm-header-guard,
-llvm-prefer-static-over-anonymous-namespace,
misc-*,\
readability-*,\
-readability-magic-numbers,\
google-*,\
-google-readability-todo,\
-google-readability-casting,\
bugprone-*,
"
CheckOptions:
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
