include LICENSE README.rst tox.ini CMakeLists.txt CHANGELOG.rst conanfile.py tests/features/engine.feature

recursive-include uiucprescon *.cpp *.h CMakeLists.txt
recursive-include tests *.py *.cpp *.feature CMakeLists.txt *.feature

