[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-bdd = "*"
tox = "*"
lxml = "*"
flake8 = "*"
sphinx = "*"
coverage = "*"
pylint = "*"

