[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = ">=0.641"
pytest = "*"
pytest-cov = "*"
tox = "*"
lxml = "*"
flake8 = "*"
sphinx = "*"
coverage = "*"
pylint = "*"
